
.video-container {
    z-index: 100;
    position: fixed; 
    top: 0px;
    width: 100%;
    height: auto;
}

.div-send-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chat-down {
    z-index: 2;
    position: fixed; 
    bottom: 0px;
    width: 100%;
    height: auto;
}
.chat-content-down {
    z-index: 3;
    position: fixed; 
    bottom: 0px;
    width: 100%;
    height: auto;
}
.modal-backdrop {
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;
}